@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none !important;
}

::placeholder {
  color: #f8e084 !important;
}